table, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}
th {
  border: 3px solid black;
  border-collapse: collapse;
  font-weight: bold;
}
a, a:visited {
  color: red;
}
a:hover, a:active {
  color: green;
}
