<!doctype html>
<title>Список заказов</title>
{% if orders %}
  <h1>Orders</h1>
  {% for o in orders %}
   <h3><a href='/order/{{ o.GUID }}'>Заказ №{{ o.Code }} от {{ o.Date }} (версия {{ o.Version }} - {{ o. Author}}, {{ o.Time }})</h2>
  {% endfor %}
{% else %}
  <h1>Hello World!</h1>
{% endif %}
