<!doctype html>
<head>
  <link rel='stylesheet' href='/css/style.css'>
</head>
<title>Заказ {{ curr.Code }}</title>
{% macro print_value(p, c, n, ind, p_break) -%}
  {% if p[ind] != c[ind] and prev %}({{p[ind]}})<br/>{% elif p_break %}<br/>{%endif%}
  {% if (p[ind] != c[ind] and prev) or (n[ind] != c[ind] and nxt)%}<strong>{{c[ind]}}</strong>{%else%}{{c[ind]}}{%endif%}
  {% if n[ind] != c[ind] and nxt %}<br/>({{n[ind]}}){%endif%}
{%- endmacro %}

{% macro field(index1, label1, index2 = None, label2 = None) -%}
<div style='clear: both; border-top: 1px solid #333'>
  {% if (prev[index1] != curr[index1] and prev) or (prev[index2] != curr[index2] and prev) %}
    {% set p_break = True %}
  {% endif %}
  {% set p1 = prev[index1] %}
  {% set c1 = curr[index1] %}
  {% set n1 = nxt [index1] %}
  {% set p2 = prev[index2] %}
  {% set c2 = curr[index2] %}
  {% set n2 = nxt [index2] %}
  <div style='float: left; vertical-align: middle; height: 100%; width: 80px;'>
     {% if p_break %}<br/>{%endif%}{{label1}} </div>
  <div style='text-align: center; float: left;'>
    {% if p1 != c1 and prev %}({{p1}})<br/>{% elif p_break %}<br/>{%endif%}
    {% if (p1 != c1 and prev) or (n1 != c1 and nxt)%}<strong>{{c1}}</strong>{%else%}{{c1}}{%endif%}
    {% if n1 != c1 and nxt %}<br/>({{n1}}){%endif%}
  </div>
  {% if label2 %}
  <div style='float: left; vertical-align: middle; height: 100%; margin-left: 3px; margin-right: 3px; text-align: center;'>
    {% if p_break %}<br/>{%endif%}{{label2}}</div>
  {% endif %}
  {% if index2 %}
  <div style='text-align: center; float: left;'>
    {% if p2 != c2 and prev %}({{p2}})<br/>{% elif p_break %}<br/>{%endif%}
    {% if (p2 != c2 and prev) or (n2 != c2 and nxt)%}<strong>{{c2}}</strong>{%else%}{{c2}}{%endif%}
    {% if n2 != c2 and nxt %}<br/>({{n2}}){%endif%}
  </div>
  {% endif %}
</div>
{%- endmacro %}

<div width='100%' style='position: relative;'>
  <div style='width: 100%;'>
    <div style='width: 100%; text-align: center;'>
      <a href=/orders>Назад в список</a>
      <h1>Версия {{curr.Version}} от {{curr.Time}} ({{curr.Author}})</h1>
    </div>
    {%if prev%}
    <div style='float: left;';><h4><a href='/order/{{ GUID }}?v={{prev.Version}}'>&lt;&lt;{{prev.Author}} ({{prev.Date}})</a></h4></div>
    {%endif%}
    {%if nxt%}
    <div style='float: right;'><h4><a href='/order/{{ GUID }}?v={{nxt.Version}}'>{{nxt.Author}} ({{nxt.Date}})&gt;&gt;</a></h4></div>
    {%endif%}
  </div>
  {{ field('Code', 'Заказ №', 'Date', 'от') }}
  {{ field('Client', 'Клиент') }}
  {{ field('Contract', 'Договор') }}
  {{ field('Sum', 'Сумма', 'Currency') }}

  <div style='width: 100%; clear: both'> 
    <table >
      <tr>
	<th style='width: 10px;'>Номер</th>
	<th style=''>Товар</th>
	<th style='width: 60px;'>Кол-во</th>
	<th style='width: 60px;'>Цена</th>
	<th style='width: 60px;'>Сумма</th>
      </tr>
    {% for c in curr.Ware %}
      {% set p_break = False %}
      {% set p = None %}
      {% set n = None %}

      {% if prev %}
        {% set p = prev.Ware[loop.index-1] %}
      {% endif %}

      {% if nxt %}
        {% set n = nxt.Ware[loop.index-1] %}
      {% endif %}
      {% if p %}
        {% if p.Ware != c.Ware or p.Qty != c.Qty or p.Price != c.Price or p.Sum != c.Sum %}
	  {% set p_break = True %}
	{% endif %}
      {% endif %}
      
      <tr>
        <td>{{ print_value(p, c, n, 'Line', p_break) }}</td>
        <td>{{ print_value(p, c, n, 'Ware', p_break) }}</td>
        <td>{{ print_value(p, c, n, 'Qty', p_break) }}</td>
        <td>{{ print_value(p, c, n, 'Price', p_break) }}</td>
        <td>{{ print_value(p, c, n, 'Sum', p_break) }}</td>
      </tr>
    {%endfor%} 
    </table>
  </div>

</div>

